@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

/* common
--------------------------------------------------*/

html { /* remのためにhtmlに基本となるフォントサイズの指定 */
	font-size: 62.5%;/* 10px */
}

body { /* サイト全体の基本フォントサイズを指定（何もしなければすべて10px） */
	/*font-family: 'Noto Sans Japanese', sans-serif;/* ノトサンズ使う場合 */
	font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", heisei-maru-gothic-std, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";
	font-size: 1.6rem;/* 16px */
	background-color: #f5dc3e;
	color: #44464f;
}

a {
	color: #44464f;
}

a:hover {
	color: #fff;
	transition: color 0.5s;
}

#wrapper {
}

.inner {
	max-width: 1300px;
	margin: 0 auto;
}

.pc_obj {
	display: block;
}

.sp_obj {
	display: none;
}

/* 文字間調整 */
.ls05 {
	letter-spacing: 0.5px;
}

.indent {
	padding-left: 1em;
	text-indent: -1em;
}



header {
	
}


/* sp */
@media all and (max-width: 767px) {
	
	.sp_obj {
		display: block;
	}
	
	.pc_obj {
		display: none;
	}
	
	.inner {
		width: 92%;
		margin: 0 auto;
	}
	
	img {
		width: 100%;
	}
	
	/* header
	--------------------------------------------------*/
	
	/* footer
	--------------------------------------------------*/
	
}

/* iphone5 */
@media all and (max-width: 360px) {

}

/* pc */
@media all and (min-width: 768px) {
	
	.sp_obj {
		display: none;
	}
	
	.pc_obj {
		display: block;
	}
	
	.inner {
		width: 1300px;
		margin: 0 auto;
	}
	
	img {
		width: 100%;
	}
	/* header
	--------------------------------------------------*/
	
}
